.color{
  background-color: deepskyblue;
  color:white;
  margin-top: 100px;
  margin-left:400px;
  margin-right:400px;
}


.color1{
  background-repeat: no-repeat;
  background-attachment: local;
  background-size:cover;
  overflow: auto;
}

.design{
  background-color:#3498db;
  overflow: auto;
}
